langchain
langchain-core
langchain-community
langchain_openai
langchain_chroma
langgraph
chromadb
fastapi
uvicorn
python-multipart
pypdf
python-docx
markdown
pandas
openai
anthropic
mysql-connector-python==8.3.0
tiktoken
python-dotenv
PyJWT
passlib
dashscope
bs4